.brand-title{
  margin-left: 100px;
  font-size: 30px;    
}
.brand-title{
  color: white;
}
.header-items{
  margin-right: auto;
  margin-left: 200px;
}
.header-items a{
  color: white;
  font-size: 25px;
}
