
.header {
    display: flex;
    height: 50px;
}

.brand-title{
    margin-left: 100px;
    font-size: 30px;    
}
.brand-title a{
    color:white;
}
.header-items {
    list-style: none;
    display: flex;
    margin-left: 200px;

}
.header-items li{
    margin-left: 20px;
    cursor: pointer;
    font-size: 25px;
}

.header-items a{
    color: white;
}