a{ 
  text-decoration: none;
}
a:hover{
  color: white;
  text-decoration: none;
  background-color:coral;
  transition: ease-in 0.5s;
}
.app-component{
  align-items: center;
}
.app-heading{
  font-size: 100px;
}


